@charset "ISO-8859-1";

a {
  color: black;
}

a#left :hover {
  background-color: red;
}
nav {
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  color: #ffffffe0;
}
h3 {
  text-decoration: underline;
  color: pink;
}
h4 {
  text-decoration: underline;
  color: pink;
}
p {
  color: #ffffffe0;
}
#blogpost {
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  width: 50%;
}
#recent {
  position: absolute;
  right: 100px;
  top: 100px;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  width: 25%;
}
.recent-container {
  border: 1px solid black;
  /* padding: 100px; */
  height: 100px;
  width: 490px;
}
#popular {
  position: absolute;
  right: 100px;
  top: 350px;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  width: 25%;
}

.popular-container {
  border: 1px solid black;
  height: 100px;
  width: 490px;
}
#search {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

/* #blogtitle {
  color: #2bbaec;
} */
footer {
  background-color: lightgray;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px 20px;
}
/* #left {
  color: red;
} */

body {
  background-color: #282c35;
}
/* #left {
  display: flex;
  justify-content: flex-start;
} */
